<font color='green'> 
**Inzva - Applied AI Study Group #5 - Recommender Systems Homework**
    
Kaggle'daki [The Movies](https://www.kaggle.com/rounakbanik/the-movies-dataset/data) verisi üzerinde cosine_similarity kullanarak film tavsiye eden bir model geliştirdim.     
</font>

# Content Based Filtering

* **Used Dataset :** https://www.kaggle.com/rounakbanik/the-movies-dataset/data
* **Latest MovieLens Dataset :** https://grouplens.org/datasets/movielens/latest/

**Files :**
  * _movies_metadata_ : Features belong to movies (~45k)
  * _keywords_ : Keywords extracted from plot of the movie
  * _credits_ : Cast and crew information
  * _links_ : TMDB and IMDB IDs of all movies
  * _ratings_ : User-Movie interactions

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

In [3]:
meta = pd.read_csv('/content/drive/MyDrive/Personal Studies/Artificial Intelligence/Inzva Study Group #5/MovieLens/movies_metadata.csv', low_memory=False)

In [4]:
credits = pd.read_csv('/content/drive/MyDrive/Personal Studies/Artificial Intelligence/Inzva Study Group #5/MovieLens/credits.csv', low_memory=False)

In [5]:
keywords = pd.read_csv('/content/drive/MyDrive/Personal Studies/Artificial Intelligence/Inzva Study Group #5/MovieLens/keywords.csv', low_memory=False)

In [6]:
meta.head(2)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0

[2 rows x 24 columns]

In [7]:
credits.head(3)

                                                cast  ...     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...  15602

[3 rows x 3 columns]

In [8]:
keywords.head(3)

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...

https://www.kaggle.com/ibtesama/getting-started-with-a-movie-recommendation-system

In [10]:
meta.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [9]:
credits.columns

Index(['cast', 'crew', 'id'], dtype='object')

In [15]:
keywords.columns

Index(['id', 'keywords'], dtype='object')

### **Meta, credits, keywords dataframe'lerini birleştiriyorum.**

#### Meta, credits dataframelerini birleştiriyorum.

In [16]:
credits.shape

(45476, 3)

In [17]:
meta.shape

(45466, 24)

In [18]:
movie=pd.merge(credits, meta, on='id')

ValueError: ignored

**You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat hatası * aldım. meta["id"] ile credits["id"]'inin data tipi farklıymış.**

In [19]:
type(meta["id"][5])

str

In [20]:
type(credits["id"][5])

numpy.int64

**meta["id"]'nin tipini de integer yapmaya çalışıyorum.**

In [21]:
meta["id"]= meta["id"].astype(int)

ValueError: ignored

**İçinde '1997-08-20' tarzı id içeren satırlar sıkıntı yaratıyor dönüşümü yaparken**

In [22]:
for e in meta["id"]:
  if "-" in e: 
    print(e)

1997-08-20
2012-09-29
2014-01-01

**Bunları meta datasından kaldırıyorum.**

In [28]:
meta[meta["id"]=='1997-08-20']

                     adult belongs_to_collection  ... vote_average vote_count
19730   - Written by Ørnås              0.065736  ...          NaN        NaN

[1 rows x 24 columns]

In [29]:
meta[meta["id"]=='2012-09-29']

                                                   adult  ... vote_count
29503   Rune Balot goes to a casino connected to the ...  ...        NaN

[1 rows x 24 columns]

In [30]:
meta[meta["id"]=='2014-01-01']

                                                   adult  ... vote_count
35587   Avalanche Sharks tells the story of a bikini ...  ...        NaN

[1 rows x 24 columns]

In [31]:
meta = meta.drop([19730,29503,35587], axis=0)

In [33]:
meta["id"]= meta["id"].astype(int) # hata vermedi.

In [34]:
movie=pd.merge(credits, meta, on='id')

#### keywords ile movie data framelerini birleştiriyorum.

In [35]:
movie=pd.merge(movie, keywords, on='id')

**null değerleri düzenliyorum.**

In [36]:
movie['cast']=movie['cast'].fillna('[]')
movie['crew']=movie['crew'].fillna('[]')
movie['production_countries']=movie['production_countries'].fillna('[]')
movie['genres']=movie['genres'].fillna('[]')
movie['keywords']=movie['keywords'].fillna('[]')

**Değerlerin stringden listeye dönüşmesini sağlıyorum.**

In [38]:
from ast import literal_eval

features=['cast','crew','production_countries','genres','keywords']
for feature in features:
  movie[feature]=movie[feature].apply(literal_eval)

In [39]:
movie.shape

(46628, 27)

**RAM yeterli gelmediği için 20 binlik kısmını alıyorum sadece verinin.**

In [43]:
df2=movie.loc[:20000,:]

In [44]:
# Get the director's name from the crew feature. If director is not listed, return NaN
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [45]:
#Returns the list top 3 elements or entire list; whichever is more.
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > 3:
            names = names[:3]
        return names

    #Return empty list in case of missing/malformed data
    return []

In [46]:
# Define new director, cast, genres and keywords features that are in a suitable form.
df2['director'] = df2['crew'].apply(get_director)

features = ['cast', 'keywords', 'genres','production_countries']
for feature in features:
    df2[feature] = df2[feature].apply(get_list)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [47]:
# Print the new features of the first 3 films
df2[['title', 'cast', 'director', 'keywords', 'genres','production_countries']].head(3)

              title  ...        production_countries
0         Toy Story  ...  [United States of America]
1           Jumanji  ...  [United States of America]
2  Grumpier Old Men  ...  [United States of America]

[3 rows x 6 columns]

In [48]:
# Function to convert all strings to lower case and strip names of spaces
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [49]:
# Apply clean_data function to your features.
features = ['cast', 'keywords', 'director', 'genres','production_countries']

for feature in features:
    df2[feature] = df2[feature].apply(clean_data)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [55]:
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])
df2['soup'] = df2.apply(create_soup, axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [56]:
# Import CountVectorizer and create the count matrix
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(df2['soup'])

In [57]:
# Compute the Cosine Similarity matrix based on the count_matrix
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [58]:
# Reset index of our main DataFrame and construct reverse mapping as before
df2 = df2.reset_index()
indices = pd.Series(df2.index, index=df2['title'])

In [61]:
def get_recommendations(title, cosine_sim=cosine_sim2):
    # Get the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return df2['title'].iloc[movie_indices]

In [62]:
get_recommendations('The Dark Knight Rises', cosine_sim2)

12589      The Dark Knight
10210        Batman Begins
9311                Shiner
9874       Amongst Friends
7772              Mitchell
516      Romeo Is Bleeding
11463         The Prestige
10853       Helter Skelter
18940            Last Exit
4520       An Innocent Man
Name: title, dtype: object